@page
@model teamLeadersEBI.Pages.AddModel
@{
}


<div class="container">
    <form method="post">
        <div>
            <label for="name">Bank Name:</label>
            <input type="text" id="name" name="name" required />
        </div>
        <button type="submit">Add</button>
        <a asp-page="/admin" class="btn btn-secondary">Cancel</a>
    </form>
</div>