@page
@model teamLeadersEBI.Pages.adminChooseModel
@{
}

<div class="bg-primary text-white p-3 rounded" style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 250px; height: 150px; display: flex; flex-direction: column; justify-content: center; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-top: 150px; z-index: 1;">
    <h5 class="card-title" style="font-size: 35px;">HELLO,</h5>
    <h5 class="card-title" style="font-size: 35px;">ADMIN</h5>
</div>

<div class="container text-center" style="display: flex; justify-content: center; align-items: center;">
    <div class="card shadow" style="width: 500px; height: 300px; padding: 20px; border: 2px solid #ccc; border-radius: 10px; margin-top: 150px;">
        <div class="row">
            <div class="col-6">
                <a href="/RegRequests" class="btn btn-secondary btn-lg" style="width: 100%; margin-top: 90px;">Registered</a>
            </div>
            <div class="col-6">
                <a href="/AdminRegForms" class="btn btn-secondary btn-lg" style="width: 100%; margin-top: 90px;">Forms</a>
            </div>
        </div>
    </div>
</div>
