@page
@using static teamLeadersEBI.Pages.AdminModel;
@model teamLeadersEBI.Pages.AdminModel
@{

}

<script>
    function refreshPage() {
        location.reload();
    }

 </script>

<h1>List of Banks</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <div class="container">
            <form method="post" onsubmit="refreshPage()">
                <div>
                    <label for="name">Bank Name:</label>
                    <input type="text" id="name" name="name" required />
                    <button type="submit" style="background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Add</button>
                </div>
            </form>
        </div>
        @if (ViewData["Banks"] != null)
        {
            @foreach (var bank in ViewData["Banks"] as IEnumerable<BankInfo>)
            {
                <tr>
                    <td>@bank.Name</td>

                    <td>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@bank.Id">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
